Source: plc-utils
Section: net
Priority: extra
Maintainer: Mathieu Olivari <mathieu@qca.qualcomm.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.qca.qualcomm.com
#Vcs-Git: git://git.debian.org/collab-maint/plc-utils.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/plc-utils.git;a=summary

Package: plc-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QCA PLC toolkit commands
 <insert long description, indented with spaces>
